@use 'variables';
@use 'header';
@use 'event';
@use 'componentes/infos_bar';
@use 'componentes/buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;    
    color: variables.$text1;
    list-style: none;
}

.container {
    // max-width: 960px;
    width: 100%;
    margin: 0 auto;
}